.DS_Store
.Rhistory
.RData
.Rapp.history
*cache
*.html
*.spin.Rmd
*.spin.md
*.zip
*~
~$*
\*R\*
Makefile~
\#\*R\*#
.#*
*.Rdata
*.tex
*.png

# don't track simulation output
scripts/sim-out/*.Rdata

# dont track temporary output from DataSynth package
scripts/datasynth/*
